.header__text-button{
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}
.header__text-button:hover{
opacity: 0.8;
}
